body {
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    padding-top: 30px;
    color: black;
    background: rgba(0, 0, 0, 0);
    border-width: 0;
    font-size: 20px;
    -webkit-transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
    transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}


.scrolled {
    background: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scrolled .navbar-nav>li>a:hover {
    color: black;
}


.text-center {
    color: white;
    margin-top: -100px;
    text-shadow: 0px 0px 3px #000;
    position: fixed;
    margin-left: 350px;
    top: 40%;
    z-index: -1;
}

.head h1 {
    font-size: 80px;
    font-weight: 300;
}

.head p {
    font-size: 32px;
}

.white-bar {
    border-bottom: 7px solid white;
    height: 7px;
}

.about {
    padding-top: 80px;
    width: 100vw;
    color: white;
    background-color: #1F2C37;
    font-size: 21px;
    height: 70vh;
}

.about img {
    margin-left: -100px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 450px;
}

.portfolio {
    display: block;
    height:1000px;
}



.contact {
    color: white;
    background-color: #1f2c37;
}