body {
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.spiner{
    position: absolute;
    width:64px;
    height:64px;
    top:50%;
    left:50%;
    margin: -32px 0 0 -32px;
    background: url("../img/spiner.gif") no-repeat;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index:99999;
}

.navbar {
    padding-top: 30px;
    color: black;
    background: rgba(0, 0, 0, 0);
    border-width: 0;
    font-size: 20px;
    -webkit-transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
    transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}
.title{
    color:white;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}

.scrolled {
    background: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scrolled .navbar-nav>li>a:hover {
    color: black;
}
.scrolled .navbar-header>.navbar-brand:hover{
    color: black;
}

.text-center {
    color: white;
    margin-top: -100px;
    text-shadow: 0px 0px 3px #000;
    position: fixed;
    margin-left: 350px;
    top: 40%;
    z-index: -1;
}

.head h1 {
    font-size: 80px;
    font-weight: 300;
}

.head p {
    font-size: 32px;
}

.white-bar {
    border-bottom: 7px solid white;
    height: 7px;
}

.about {
    padding-top: 100px;
    width: 100%;
    color: white;
    background-color: #1F2C37;
    font-size: 21px;
    height: 70vh;
}

.about img {
    margin-left: -100px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 450px;
}

.portfolio {
    display: block;
    height:1100px;
    padding-top:20px;
}
.project{
    margin-top:30px;
}
.hover{
    position: absolute;
    padding-top: 130px;
    margin-left:15px;
    top:0;
    left: 0;
    width:92%;
    height: 100%;
    background: #1F2C37;
    color:white;
    opacity:0;
    font-size: 20px;
    text-align: center;
    -webkit-transition:all 1.3s ease-out;
    transition: all 0.8s ease-out;
}
.hover-mask{
    opacity:0.9; !important;
    padding-top: 60px;
}

.contact {
    color: white;
    background-color: #1f2c37;
}
.block-title{
    text-align: center;
}

@media (max-width:991px){
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        background: white;
        border-width: 0;
        font-size: 20px;
        -webkit-transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
        transition: background 1s, padding-top 1.3s, padding-bottom 1.3s;
    }
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: black;
    }

    .text-center {
        color: white;
        margin-top: -50px;
        text-shadow: 0px 0px 3px #000;
        position: fixed;
        margin-left: 0;
        top: 40%;
        z-index: -1;
    }

    .title{
        color:white;
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px;
        font-weight: 100;
    }
    .head h1 {
        font-size: 35px;
        font-weight: 600;
    }
    .about {
        padding-top: 10px;
        width: 100%;
        height:150%;
        color: white;
        background-color: #1F2C37;
        font-size: 21px;
    }

    .about img {
        margin-left: 0;
        margin-bottom: 20px;
        border-width: 5px;
        border-color: white;
        border-style: solid;
        width: 450px;
    }
    .about h2{
        font-size: 30px;
    }
    .portfolio {
        display: block;
        height:2550px;
        padding-top:20px;
    }
    .project{
        margin-top:30px;
        margin-left: 40px;
    }
    .row .row{
        margin-right: 0; !important;
    }
}

@media (max-width:415px){
    .about {
        padding-top: 10px;
        width: 100%;
        height:135%;
        color: white;
        background-color: #1F2C37;
        font-size: 21px;
    }
    .portfolio {
        display: block;
        height:2800px;
        padding-top:20px;
    }

}
@media (max-width:375px){
    .about {
        padding-top: 10px;
        width: 100%;
        height:150%;
        color: white;
        background-color: #1F2C37;
        font-size: 21px;
    }
    .portfolio {
        display: block;
        height:2550px;
        padding-top:20px;
    }

}
@media (max-width:320px){
    .about {
        padding-top: 10px;
        width: 100%;
        height:180%;
        color: white;
        background-color: #1F2C37;
        font-size: 21px;
    }
    .portfolio {
        display: block;
        height:2250px;
        padding-top:20px;
    }
}